
@{
    ViewBag.Title = "Your Mood";
}
@*PickAVibe Step 1: Select your mood*@

<h3 class="mov-title text-center mb-4 mt-1">@ViewBag.MoodPhrase</h3>

<div class="row gap-3 justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card scale-up">
            <a href="/Movies/SelectVibe?mood=happy" class="text-decoration-none">
                <div class="card-body card-vibe-h d-flex justify-content-end align-items-end rounded-3 py-4" style="background-color: #2AbD6Fee; background-image: url(../Content/assets/vibeimg/happy.png); background-size: cover; background-position: center; ">
                    <p class="text-light fs-4 text-center mov-title m-0 me-3">Happy</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-10 col-lg-8">
        <div class="card scale-up">
            <a href="/Movies/SelectVibe?mood=neutral" class="text-decoration-none">
                <div class="card-body card-vibe-n d-flex justify-content-end align-items-end rounded-3 py-4" style="background-color: #E9C46Aee; background-image: url(../Content/assets/vibeimg/neutral.png); background-size: cover; background-position: center; ">
                    <p class="text-light fs-4 text-center mov-title m-0 me-3">Neutral</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-10 col-lg-8">
        <div class="card scale-up">
            <a href="/Movies/SelectVibe?mood=sad" class="text-decoration-none">
                <div class="card-body card-vibe-s d-flex justify-content-end align-items-end rounded-3 py-4" style="background-color: #2A8FADee; background-image: url(../Content/assets/vibeimg/sad.png); background-size: cover; background-position: center; ">
                    <p class="text-light fs-4 text-center mov-title m-0 me-3">Sad</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col-12 col-md-10 col-lg-8">
        <div class="card scale-up">
            <a href="/Movies/SelectVibe?mood=angry" class="text-decoration-none">
                <div class="card-body card-vibe-a d-flex justify-content-end align-items-end rounded-3 py-4" style="background-color: #E76F51ee; background-image: url(../Content/assets/vibeimg/angry.png); background-size: cover; background-position: center; ">
                    <p class="text-light fs-4 text-center mov-title m-0 me-3">Angry</p>
                </div>
            </a>
        </div>
    </div>
</div>



