<!-- Modale per conferma eliminazione -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Remove from list</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    
                </button>
            </div>
            <div class="modal-body">
                Do you really want to remove this movie from your list?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-1 btn-sm" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-2 btn-sm" id="delete-confirm">Remove</button>
            </div>
        </div>
    </div>
</div>
