<!-- Modal Trailer -->

<div class="modal fade" id="trailerModal" tabindex="-1" aria-labelledby="trailerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title d-none d-md-block" id="trailerModalLabel">Trailer</h5>                
                <h6 class="modal-title d-block d-md-none" id="trailerModalLabel">Trailer</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!-- iframe del trailer -->
            </div>
        </div>
    </div>
</div>
